
.toolbar {
  background: #283593;
  color: white;
  margin: 0px;
}

.header-container {
  background-color: #283593;
  height: 70px;
}

.page-container {
  overflow-y: auto;
  height: 100%
}

.pointer{
  cursor: pointer;
}