<!-- header -->
<div fxLayout.xs="column" fxLayout="row" class='menu' fxLayoutAlign="start center">
  <mat-toolbar color="primary" fxFlex='20'>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-24">menu</mat-icon>
    </button>
  </mat-toolbar>
  <div fxLayout="row" fxFlex="80" xShow [fxHide.xs]="true" fxHide="false">
    <div fxFlex='33'>Hello</div>
    <div fxFlex='33'>salve</div>
  </div>
</div>
<!-- horizontal menu -->
<div fxLayout="column" fxShow [fxHide.xs]="false" fxHide="true">
  <div fxFlex='33'>sa</div>
  <div fxFlex='33'>das</div>
</div>