/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
:host {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
}

body {
  background-color: blueviolet;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
} 

html{
  height: 100%
}
  